<% include header.ejs %>

<div class="container-fluid">
    <article>
        <header>
            <h1>
                <%= post.title %>
            </h1>
        </header>
        <div class="body">

            <% if (post.image.filename) { %>
            <img class="post img-center" src="/uploads/<%= post.image.filename %>" alt="">
            <% } %>
            <h5>
                Date: <%= post.startdate %> 
                <% if (post.enddate != post.startdate ) { %>
                to <%= post.enddate %> 
                <% } %>
            </h5>
            <h5><%- post.content %></h5>
        </br>
        </br>
        <p>
            More Details: <a href="<%= post.externalLink %>"><span class="glyphicon glyphicon-globe"></span></a>
        </p>
    </div>
    </br>
    </br>
    <div>
        <% if ( post.organiser === userOrg ) { %>
        <p>
            <button class="btn btn-primary" type="button" onClick="window.location.href='<%=post.id + "/delete" %>';">Delete Post</button>
        </p>
        <% } %>
    </div>
    </article>
</div>

<% include footer.ejs %>
