<% include header.ejs %>

<div class="container-fluid text-left">
    <h1><%= capitalize(category) %><small> Poster View</small></h1>
</div>

<div class="btn-group pull-right">
    <button type="button" class="btn btn-primary" onClick="window.location.href='/category/<%=category%>';">Normal View</button>
    <button type="button" class="btn btn-primary" onClick="window.location.href='/category/<%=category%>/posters';">Poster View</button>
</div>
<br>
<br>

<div>
    <% for (var i = 0; i < posts.length; i++) { %>
        <% if (posts[i].hasImage) { %>
            <a href="<%= '/post/' + posts[i]._id %>">
                <img class="thumbnail" src="<%= posts[i].imageLink %>" alt="">
            </a>
        <% } %>
    <% } %>
</div>

<% include footer.ejs %>
